
###> symfony/framework-bundle ###
/Service_Numero/.env.local
/Service_Persona/.env.local
/Service_Numero/.env.local.php
/Service_Persona/.env.local.php
/Service_Numero/.env.*.local
/Service_Persona/.env.*.local
/Service_Numero/config/secrets/prod/prod.decrypt.private.php
/Service_Persona/config/secrets/prod/prod.decrypt.private.php
/Service_Numero/public/bundles/
/Service_Persona/public/bundles/
/Service_Numero/var/
/Service_Persona/var/
/Service_Numero/vendor/
/Service_Persona/vendor/
###< symfony/framework-bundle ###
